{
  "extends": ["react-app"],
  "rules": {
    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": ["./src/generated/graphql.d.ts"],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": ["@graphql-eslint"]
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parserOptions": { "project": ["./tsconfig.json"] },
      "rules": {
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ]
}
